* {
    font-family: 'Open Sans', sans-serif;
}
#submit-button {
    background-color: grey;
    font-weight: 200;
    margin-top: 40px;
    border: solid 4px;
    padding: 10px;
    font-size: 20px;
    color: black;
    width: 20%;
    margin-left: 25%;

}
#submit-button:hover{ 
    background-color: green;
    color: white;
    
}
#image {
    margin-left: 25%;
}
.input {
    display: flex;
    font: bold;
    margin-top: 10px;
    margin-left: 4px;
    font-family: Zen Antique;
    color: blueviolet;
    size: 45px;
}

label{
    width:5%;
}
#title {
    font-family: Zen Antique;
    color: navy;
    margin-left: 25%;
    size: 70px;
    font: bold;

}